.explanation {
   
    border: 1px solid white
  }

  .textFormul {
    background-color:#bfe1fc;
    white-space: nowrap;
    
  }
  .blanKSpaceInNoviceView {
    color:white;
    
  }

  .view {
    font-weight:bold;
    
  }

  
  select {
    width: 200px;
  }