.VectorRegister-container {
    fill: var(--main);
    filter: drop-shadow(3px 3px 2px rgba(42, 54, 59, .5));
    -webkit-filter: drop-shadow(3px 3px 2px rgba(42, 54, 59, .5));
}

.VectorRegister-line {
    stroke: var(--gray);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.VectorRegister-values {
    fill: var(--clear-text-color);
    text-anchor: middle;
}

.shift-values-right {
    fill: var(--five);
    text-anchor: middle;
}

.shift-values-left {
    fill: var(--two);
    text-anchor: middle;
}

.tabs__content {
    overflow: scroll;
}

.registerUsed {
    display: flex;
    justify-content: space-around;
    background-color: #263238;
    color:white ;  
    font-family: monospace;
}
.visualization {
    min-width: 80%;
    justify-content: space-around;
    color: black;
}

.presentation {
    max-width: 20%;
}

.instruction {
    color:#263238;
    text-align: left;
    height: 10%;
    font-size: xx-large;
}

.text {
    color:#FFFFFF;
    padding: 1em;
 
}
 
/*
.intrinsicName {
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    padding: 1em;
 
} 

.head {
    vertical-align: middle;
    text-align: center;
} 
*/

.sc-bwzfXH.cvBOXt {
    background-color: #263238;
}
strong {

    font-family: monospace;
   
}



.head
{  
    color :#DECB6B;
    text-align: center;
}

.name
{  
    color : #FFFFFF;
}

.registers
{  
    color :#DECB6B;
}

.instructions
{  
    color :#C792EA;
}

.description
{  
    color  :#C792EA;
}



.animation {
    display: flex;
    justify-content: space-between;
}

.presentation {
    max-width: 20% ;
    font-family: monospace;
    color:#FFFFFF;
}
.label, .button, label, button {
    font-family: monospace;
}
