.VectorRegister-container {
    fill: var(--main);
    filter: drop-shadow(3px 3px 2px rgba(42, 54, 59, .5));
    -webkit-filter: drop-shadow(3px 3px 2px rgba(42, 54, 59, .5));
}

.VectorRegister-line {
    stroke: var(--gray);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.VectorRegister-values {
    fill: var(--clear-text-color);
    text-anchor: middle;
}

.shift-values-right {
    fill: var(--five);
    text-anchor: middle;
}

.shift-values-left {
    fill: var(--two);
    text-anchor: middle;
}

.tabs__content {
    overflow: scroll;
}

.registerUsed {
    display: flex;
    justify-content: space-around;
    background-color: #263238;
    color:white ;  
    font-family: monospace;
}
.visualization {
    min-width: 80%;
    justify-content: space-around;
    color: black;
}

.presentation {
    max-width: 20%;
}

.instruction {
    color:#263238;
    text-align: left;
    height: 10%;
    font-size: xx-large;
}

.text {
    color:#FFFFFF;
    padding: 1em;
 
}
.out {
   /* vertical-align: bottom;*/
    text-align: center;
    font-size: 24px;
    color: #DE7663;
    background-color: #DE7663;

} 

.in {
   /* vertical-align: top;*/
    text-align: center;
    font-size: 24px;
    color:#6BB1F3;
    background-color :#6BB1F3;
   
} 
/*
.intrinsicName {
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    padding: 1em;
 
} 

.head {
    vertical-align: middle;
    text-align: center;
} 
*/
table {
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0; 
    border-collapse:separate;
    margin: 1em; 
    min-height: 100%; 
}
tbody {
    border-color:  #FFFFFF;
}
.sc-bwzfXH.cvBOXt {
    background-color: #263238;
}
strong {

    font-family: monospace;
   
}

th
{  
    min-width: 100px;
    min-height: 300px;
    text-align: center;
    width: 1.5em;
    height: 4.7em;
    background: #FFFFFF;
    border: 1px solid #2F9599;
    color :#263238;
    vertical-align: middle;
    text-align: center;
    padding: 1em;
}
td
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*!background: #FFFFFF;*/
   /* border: 1px solid #2F9599;*/
    color :#263238;
    text-align: center;
    padding: 0;
}

caption {
    caption-side: top; 
    color: black;
}

.animation {
    display: flex;
    justify-content: space-between;
}

.presentation {
    max-width: 20% ;
    font-family: monospace;
    color:#FFFFFF;
}
.label, .button, label, button {
    font-family: monospace;
}
