<<<<<<< HEAD
 td[class^="out"]{
   /* vertical-align: bottom;*/
    text-align: center;
    font-size: 24px;
    color: #DE7663;
    background-color: #DE7663;

} 

td[class^="in"] {
   /* vertical-align: top;*/
    text-align: center;
    font-size: 24px;
    color:#6BB1F3;
    background-color :#6BB1F3;
   
} 
/*
.intrinsicName {
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    padding: 1em;
 
} 

.head {
    vertical-align: middle;
    text-align: center;
} 
*/
table {
    border-spacing: 1em 0.5em;
    padding: 0 2em 1em 0; 
    border-collapse:separate;
    margin: 1em; 
    /*min-height: 100%; */
}
tbody {
    border-color: #263238;;
}


th
{  
    min-width: 100px;
    min-height: 300px;
    text-align: center;
    width: 1.5em;
    height: 4.7em;
    background: #263238;
    border: 1px solid #FFFFFF;
    color :#C792EA;
    vertical-align: middle;
    text-align: center;
    padding: 1em;
}


td
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*!background: #FFFFFF;*/
    border: 1px solid#263238;
    color :#263238;
    text-align: center;
    padding: 0;
}
td[class$="el1"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    background :#DECB6B;
    border: 1px solid#263238;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[class$="id1"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*background: #2F9599;;*/
    border: 4px solid #DECB6B;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[class$="el2"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    background :#C792EA;
    border: 1px solid#263238;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[class$="id2"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*background: #2F9599;;*/
    border: 4px solid #C792EA;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[class$="el3"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    background :#2F9599;
    border: 1px solid#263238;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[class$="id3"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*background: #2F9599;;*/
    border: 4px solid #2F9599;
    color :#2F9599;
    text-align: center;
    padding: 0;
}
td[className$="el5"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    background: #2F9599;
    border: 1px solid#263238;
    color :#263238;
    text-align: center;
    padding: 0;
}
td[className$="id5"]
{  
    text-align: center;
    width: 1.5cm;
    height: 1cm;
    /*!background: #FFFFFF;*/
    border: 1px solid#2F9599;
    color :#263238;
    text-align: center;
    padding: 0;
}
caption {
    caption-side: top; 
    color: black;
}

=======
td[class^="out"]{
    /* vertical-align: bottom;*/
     text-align: center;
     font-size: 24px;
     color: #DE7663;
     background-color: #DE7663;
 
 } 
 
 td[class^="in"] {
    /* vertical-align: top;*/
     text-align: center;
     font-size: 24px;
     color:#6BB1F3;
     background-color :#6BB1F3;
    
 } 
 /*
 .intrinsicName {
     vertical-align: top;
     text-align: center;
     font-size: 24px;
     padding: 1em;
  
 } 
 
 .head {
     vertical-align: middle;
     text-align: center;
 } 
 */
 table {
     border-spacing: 1em 0.5em;
     padding: 0 2em 1em 0; 
     border-collapse:separate;
     margin: 1em; 
     /*min-height: 100%; */
 }
 tbody {
     border-color: #263238;;
 }
 
 
 th
 {  
     min-width: 100px;
     min-height: 300px;
     text-align: center;
     width: 1.5em;
     height: 4.7em;
     background: #263238;
     border: 1px solid #FFFFFF;
     color :#C792EA;
     vertical-align: middle;
     text-align: center;
     padding: 1em;
 }
 
 
 td
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     /*!background: #FFFFFF;*/
     border: 1px solid#263238;
     color :#263238;
     text-align: center;
     padding: 0;
 }
 td[class$="el1"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     background :#DECB6B;
     border: 1px solid#263238;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[class$="id1"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     /*background: #2F9599;;*/
     border: 4px solid #DECB6B;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[class$="el2"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     background :#C792EA;
     border: 1px solid#263238;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[class$="id2"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     /*background: #2F9599;;*/
     border: 4px solid #C792EA;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[class$="el3"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     background :#2F9599;
     border: 1px solid#263238;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[class$="id3"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     /*background: #2F9599;;*/
     border: 4px solid #2F9599;
     color :#2F9599;
     text-align: center;
     padding: 0;
 }
 td[className$="el5"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     background: #2F9599;
     border: 1px solid#263238;
     color :#263238;
     text-align: center;
     padding: 0;
 }
 td[className$="id5"]
 {  
     text-align: center;
     width: 1.5cm;
     height: 1cm;
     /*!background: #FFFFFF;*/
     border: 1px solid#2F9599;
     color :#263238;
     text-align: center;
     padding: 0;
 }
 caption {
     caption-side: top; 
     color: black;
 }
>>>>>>> drawnOnSvg
